*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Raleway', sans-serif;
    background: #000;
}

.background{
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.7)), url(../img/background3.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
}
.logo{
    margin-left: 45px;
    margin-top: -25px;
    width: 200px; 
    height: 140px;
    position: absolute;
}

.text, .box{
    margin-top: 30vh;
    flex: 1;
}
.coloregistra{
    background-color: #8A2BE1;
}
.text{
    margin-left: 10%;
    font-weight: 300px;
}

.box{
    margin-left: 30%;
}

.text h1{
    margin-top: 100px;
    font-size: 75px;
    color: #fff;
    font-weight: 50;
}

.text p{
    font-size: 25px;
    color: #fff;
    font-weight: 300;
}

.text p a{
    color: #fff;
    font-weight: 700;
}

.form{
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 250px;
}

input{
    margin: 20px 0;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.username, .password{
    border-bottom: 1px solid #fff;
}

.button{
    background: transparent;
    border: 1.5px solid #fff;
    color: #fff;
    font-size: 19px;
}

.button:hover{
    background: #8A2BE1;
    color: #000;
}